<div class="container">
    <div class="row">
        <div class="mt-4 col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3>Employee Registration</h3>
            <div class="div col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Employee Id</label>
                <input type="number" class="form-control" name="empid" [(ngModel)]="empid" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Full Name</label>
                <input type="text" class="form-control" name="fname" [(ngModel)]="fname" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lname" [(ngModel)]="lname" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">House no</label>
                <input type="number" class="form-control" name="houseno" [(ngModel)]="houseno" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">House Name</label>
                <input type="text" class="form-control" name="housename" [(ngModel)]="housename" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Street Name</label>
                <input type="text" class="form-control" name="streetname" [(ngModel)]="streetname" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Pin Code</label>
                <input type="text" class="form-control" name="pincode" [(ngModel)]="pincode" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">District</label>
                <input type="text" class="form-control" name="district" [(ngModel)]="district" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">State</label>
                <input type="text" class="form-control" name="state" [(ngModel)]="state" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Country</label>
                <input type="text" class="form-control" name="coutnry" [(ngModel)]="country" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Mobile No</label>
                <input type="number" class="form-control" name="mob" [(ngModel)]="mob" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Parent Name</label>
                <input type="text" class="form-control" name="parentname" [(ngModel)]="parentname" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Gender</label>
                <input type="text" class="form-control" name="gender" [(ngModel)]="gender" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Highest Degree</label>
                <input type="text" class="form-control" name="highestdegree" [(ngModel)]="highestdegree" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Year of Experience</label>
                <input type="number" class="form-control" name="yoe" [(ngModel)]="yoe" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Date of joining</label>
                <input type="date" class="form-control" name="doj" [(ngModel)]="doj" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">User Name</label>
                <input type="text" class="form-control" name="uname" [(ngModel)]="uname" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Password</label>
                <input type="text" class="form-control" name="pwd" [(ngModel)]="pwd" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Confirm Password</label>
                <input type="text" class="form-control" name="confirmpwd" [(ngModel)]="confirmpwd" id="">
            </div>
            <div class="mt-2 col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <button (click)="empRegister()" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
  </div>
